{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/header_lab10.css' %}" />
</head>
  <body>
    <div class="header">
        <div class="left-side">
          <div class="title">
            <p>fiLem</p>
          </div>
        </div>
        <div class="right-side">
          <a href="{% url 'lab-10:movie_list' %}" class="btn">
          Movies </a>
          <a href="{% url 'lab-10:list_watch_later' %}" class="btn">
          Watch Later </a>
          <a href="{% url 'lab-10:dashboard' %}" class="btn">
          Dashboard </a>
          <a href="{% url 'lab-10:auth_logout' %}" class="btn btn-danger" onclick="return confirm('Keluar?')">
          Logout </a>
      </div>
  </body>
</html>
