body {
  min-height: 2000px;
  font-family: "Raleway";
  color: #060606;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color:teal;
  background-image: none;
  background-repeat: no-repeat;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}

footer {
      position: relative;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      background-color: #ccffff;
      text-align: center;
      clear: both;
      z-index: 10;
      height: 5em;
      margin-top: 5em;
}
