<<<<<<< HEAD
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<style>
    h1, h2, h3 {
      font-family: "Raleway", sans-serif;
    }
    table, th, td, tr {
        border: 0px solid black;
    }
    .subject{
        font-size: 20px;
        font-family: "Raleway";
        color: #060606;
    }
    .value{
        font-size: 20px;
        font-family: "Raleway", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #060606;
    }
    body {
      font-family: "Raleway";
      color: #060606;
    }
</style>
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href=="{% static '/lab_4/templates/lab_4/static/css/lab_4.css' %}" rel="stylesheet">

    <title>
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>
<body style="background-color:#abc0b1">
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
=======
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<style>
    h1, h2, h3 {
      font-family: "Raleway", sans-serif;
    }
    table, th, td, tr {
        border: 0px solid black;
    }
    .subject{
        font-size: 20px;
        font-family: "Raleway";
        color: #060606;
    }
    .value{
        font-size: 20px;
        font-family: "Raleway", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #060606;
    }
    body {
      font-family: "Raleway";
      color: #060606;
    }
</style>
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href=="{% static '/lab_4/templates/lab_4/static/css/lab_4.css' %}" rel="stylesheet">

    <title>
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>
<body style="background-color:#abc0b1">
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
>>>>>>> 5571a6622f332b10d4b93305cc9961eb05854c3e
