<<<<<<< HEAD
<!DOCTYPE html>
{% extends "lab_4/layout/base.html" %}
{% load static %}

{% block content %}
<!--<h1>Portofolio</h1>-->
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<section name="bio">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1231.83 279.94">
    <defs>
      <style>.cls-1,.cls-2{font-size:204px;font-family:Avenir-Black, Avenir;letter-spacing:0.1em;}.cls-1{fill:#FCF8E3;}.cls-2{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:5px;}
      </style>
    </defs>
    <title>Welcome</title>
    <g id="Layer_2" data-name="Layer 2">
      <g id="Layer_1-2" data-name="Layer 1">
        <text class="cls-1" transform="translate(16.41 186.71)">WELCOME</text>
        <text class="cls-2" transform="translate(5.41 176.71)">WELCOME</text>
      </g>
    </g>
  </svg>
    <!--<h2>Bio</h2>-->
    <p style="text-align:center; font-size:3rem; color:#161616">
        {{content}}
    </p>
</section>

<section name="about_me">
    <h2 style="font-size:4rem; color:#FCF8E3; font-family: Montserrat">Things That I Like</h2>
    <ul style="font-size:2rem">
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2 style="text-align: center; font-size:5rem; color:#FCF8E3">It's time to say things out loud.<br>
Are you ready?</br></h2>
<img src="https://www.horoscope.com/images-US/signs/profile-aquarius.png" style="width: 20rem; text-align: center"/>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

=======
<!DOCTYPE html>
{% extends "lab_4/layout/base.html" %}
{% load static %}

{% block content %}
<!--<h1>Portofolio</h1>-->
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<section name="bio">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1231.83 279.94">
    <defs>
      <style>.cls-1,.cls-2{font-size:204px;font-family:Avenir-Black, Avenir;letter-spacing:0.1em;}.cls-1{fill:#FCF8E3;}.cls-2{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:5px;}
      </style>
    </defs>
    <title>Welcome</title>
    <g id="Layer_2" data-name="Layer 2">
      <g id="Layer_1-2" data-name="Layer 1">
        <text class="cls-1" transform="translate(16.41 186.71)">WELCOME</text>
        <text class="cls-2" transform="translate(5.41 176.71)">WELCOME</text>
      </g>
    </g>
  </svg>
    <!--<h2>Bio</h2>-->
    <p style="text-align:center; font-size:3rem; color:#161616">
        {{content}}
    </p>
</section>

<section name="about_me">
    <h2 style="font-size:4rem; color:#FCF8E3; font-family: Montserrat">Things That I Like</h2>
    <ul style="font-size:2rem">
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2 style="text-align: center; font-size:5rem; color:#FCF8E3">It's time to say things out loud.<br>
Are you ready?</br></h2>
<img src="https://www.horoscope.com/images-US/signs/profile-aquarius.png" style="width: 20rem; text-align: center"/>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

>>>>>>> 5571a6622f332b10d4b93305cc9961eb05854c3e
{% endblock %}
