{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/header_lab9.css' %}" />
</head>
  <body>
    <div class="header">
        <div class="left-side">
          <div class="title">
            <p>kaPaLakuB</p>
          </div>
        </div>
      </div>
  </body>
</html>
