button{
  background-color: #3b5998;
  color: white;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1.5rem;

}

input {
  margin: auto;
  width: 60%;
  padding: 3rem;
  text-align: center;
}

.picture {
  margin-top: -15rem;
  border-style: solid;
  border-width: thick;
  border-color: #e9ebee;
  width: 20%;
}

.cover {
  margin-top: 3rem;
  width: 90%;
}

.feed {
  background-color: white;
  width: 50%;
  padding: 3rem;
  margin: 3rem;
}
 .profile {
   text-align: center;
 }

@media only screen and (max-width: 1000px) {
  .picture {
    margin-top: -10rem;
    border-style: solid;
    border-width: thick;
    border-color: #e9ebee;
    width: 20%;
  }
}

@media only screen and (max-width: 700px) {
  .picture {
    margin-top: -10rem;
    border-style: solid;
    border-width: thick;
    border-color: #e9ebee;
    width: 30%;
  }
}

@media only screen and (max-width: 400px) {
  .picture {
    margin-top: -10rem;
    border-style: solid;
    border-width: thick;
    border-color: #e9ebee;
    width: 40%;
  }
}
